{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/swiper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">

        <script type="text/javascript" charset="utf-8"  src="{% static 'main/js/jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8"  src="{% static 'main/js/bootstrap.js' %}"></script>
        <script type="text/javascript" charset="utf-8"  src="{% static 'main/js/swiper.js' %}"></script>
        <script type="text/javascript" charset="utf-8"  src="{% static 'main/js/base.js' %}"></script>
        <script type="text/javascript" charset="utf-8"  src="{% static 'home/js/home.js' %}"></script>
        {% block linkscript %}
        {% endblock linkscript %}
    </head>
    <body>
        <header>

        </header>

        <div>
            {% block base %}

            {% endblock base %}
        </div>

        <footer>
            <a class="home" href="/home/">
                <dl>
                    <dt><span></span></dt>
                    <dd>主页</dd>
                </dl>
            </a>
            <a  class="market" href="/market/">
                <dl>
                    <dt><span></span></dt>
                    <dd>闪电超市</dd>
                </dl>
            </a>
            <a  class="cart" href="/cart/">
                <dl>
                    <dt><span></span></dt>
                    <dd>购物车</dd>
                </dl>
            </a>
            <a  class="mine" href="/mine/">
                <dl>
                    <dt><span></span></dt>
                    <dd>我的</dd>
                </dl>
            </a>
        </footer>
    </body>
</html>