{% extends 'myApp/base.html' %}

{% block base %}

<div id="home">
    <section class="swiper-container" id="topSwiper">
        <div class="swiper-wrapper">
            {% for item in wheelsList %}
                <div class="swiper-slide">
                    <a href="#">
                        <img src="{{item.img}}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
    </section>

    <section class="topMenu">
        <nav>
            <ul>
                {% for item in navList %}
                    <li>
                        <a href="#">
                            <img src="{{item.img}}">
                            <span>{{item.name}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>

</div>

{% endblock base %}