{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/swiper.css' %}">

        <script type="text/javascript" charset="utf-8"  src="{% static 'main/js/bootstrap.js' %}"></script>
        <script type="text/javascript" charset="utf-8"  src="{% static 'main/js/swiper.js' %}"></script>
        {% block linkscript %}
        {% endblock linkscript %}
    </head>
    <body>

    </body>
</html>